body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cover {
  height: 100vh;
  background: url('./assets/images/cover.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

div.overlay {
  opacity: 0.3;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  text-align: center;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);
}

.title h1 {
  color: #fff;
  font-size: 52px;
  font-weight: bold;
}

.button {
  margin-top: 60px;
  padding: 12px;
  border: 2px solid #fff;
  width: 210px;
  border-radius: 50px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.map-wrapper {
  position: relative;
  padding: 0 20px;
}

.title-wrap {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.title-wrap img {
  width: 100px;
  margin-right: 10px;
}

.map-container {
  height: 60vh;
}

.sidebar {
  /* background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace; */
  z-index: 1;
  position: absolute;
  top: 0;
  left: 15px;
  margin: 12px;
  /* border-radius: 4px; */
}

.content-wrap {
  padding: 10px;
}
